/*

@Programith

*/

body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: black;
    overflow: hidden;
}

.google {
    margin-top: 120px;
    margin-left: 140px;
    display: block;
    width: 75px;
    height: 50px;
    position: relative;
    border-top: 50px solid #4285f4;
    border-right: 50px solid #4285f4;
    border-bottom: 50px solid #4285f4;
    border-radius: 0 0 250px 0;
    box-sizing: content-box;
}

.google:before {
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    position: absolute;
    border-top: 50px solid #ea4335;
    border-left: 50px solid #fbbc05;
    border-bottom: 50px solid #34a853;
    border-right: 50px solid transparent;
    top: -150px;
    right: -50px;
    box-sizing: border-box;
    border-radius: 50%;
}