/*

@Programith

*/

@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One&subset=latin-ext");

body {
    background-color: black;
    overflow: hidden;
}

.container {
    padding: 5%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangle {
    margin-top: 3.2rem;
    margin-left: 6.2rem;
    border-top: 1.5rem solid transparent;
    border-left: 3.5rem solid white;
    border-bottom: 1.5rem solid transparent;
}

.logo {
    height: 9.5rem;
    width: 14.5rem;
    background-color: #ff0000;
    border-radius: 25%;
}

.text {
    font-family: "Pathway Gothic One", sans-serif;
    padding-left: 1rem;
    font-size: 8rem;
    font-weight: 600;
    color: white;
}